body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* header section*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #000000;
}
.logo-studio:hover,
.logo-studio:focus {
  color: #2196f3;
}
.navi,
.contact {
  list-style: none;
}
.navi-stud,
.navi-port-port {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.navi-port,
.navi-cont,
.navi-port-stud,
.navi-port-cont {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.navi-port:hover,
.navi-port-stud:hover,
.navi-port:focus,
.navi-port-stud:focus {
  color: #2196f3;
}

.contact-mail,
.contact-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

/*main studio section*/

.hero {
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
}

.hidheader {
  display: none;
}
.peculiarities-list,
.activity-list,
.team-list,
.btn-list,
.portfolio-list {
  list-style: none;
}

.peculiarities {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
.peculiarities-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
.activity,
.team {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
}
.surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}
.position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

/* footer section*/

.footer-section {
  background: #2f303a;
}
.footer-addr {
  list-style: none;
}
.location {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  text-decoration: none;
}
.footer-mail,
.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/*main portfolio section*/
.btn-all {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
}
.btn-web,
.btn-app,
.btn-design,
.btn-market {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  border: none;
  cursor: pointer;
}
.btn-web:hover,
.logo-web:focus,
.btn-app:hover,
.btn-app:focus,
.btn-design:hover,
.btn-design:focus,
.btn-market:hover,
.btn-market:focus {
  color: #2196f3;
}

.portfolio-list-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-link {
  text-decoration: none;
}
.portfolio-list-name:hover,
.portfolio-list-name:focus,
.portfolio-list-type:hover,
.portfolio-list-type:focus {
  color: #2196f3;
}
.portfolio-list-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
